<nav class="top-bar small-12 medium-8 medium-offset-2 large-6 large-offset-3 end columns">
<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Blog</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="{{ site.url }}">Home</a></li>
    </ul>
  </div>
</div>
</nav>
